@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.paginate{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /*espacio entre botones*/ 
    font-family: 'Roboto Mono', monospace;
  }
  
  .prev {
    width: 70px;  
    background:#ED217C;  
    color: #2D3047;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 10px;
    box-shadow: 3px 3px 10px black;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
  }
  
  .prev:hover {
    background: #2D3047;
    color: #ED217C;
    transform: translateY(5px);
    font-family: 'Roboto Mono', monospace;
  }
    